[package]
name = "hello"
version = "0.1.0"
edition = "2021"

[dependencies]
bevy = { workspace = true, features = ["default"] }
bevy-lua-ecs = { path = "../bevy-lua-ecs" }
bevy_rapier2d = { version = "0.31", features = ["serde-serialize"] }
