[package]
name = "hello"
version = "0.1.0"
edition = "2021"

[features]
default = ["physics", "tiled"]
physics = ["dep:bevy_rapier2d"]
tiled = ["dep:bevy_ecs_tiled"]

[dependencies]
bevy = { workspace = true, features = ["default"] }
bevy-lua-ecs = { path = "../bevy-lua-ecs" }
bevy_rapier2d = { version = "0.31", features = ["serde-serialize"], optional = true }
bevy_ecs_tiled = { version = "0.7", optional = true }
